<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="hashLookupUrl" value="https://api.metadefender.com/v2/hash/"/>
        <add key="fileUrl" value="https://api.metadefender.com/v2/file"/>
        <add key="apikey" value="c4b8b1cab7ef8132ae9dffce384b8975"/>
        <add key="pollIntervalInMs" value="3000"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>